@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{

    --primary-color: hsl(94, 55%, 56%);
    --hover-color: hsl(93, 75%, 76%);
    --error-color: hsl(96, 75%, 89%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%,18%);
    --grey-text: hsl(0,0%,75%);
    --bg-color: hsl(113, 11%, 85%);
    --input-color: hsl(330, 12%, 97%) ;
    --pale-green: hsl(154, 14%, 90%);



    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;    
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img, video{
    width: 100%;
    height: auto;
}

.message{
    display: none;
}

.showMessage{
    display: block;
    color: var(--white-color);
    padding: 10px;
    background: rgb(255,0,0);
    border-radius: 3px;
    text-align: center;
}   

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--grey-text);

}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    color: var(--primary-color);
    background: var(--pale-green);
}

//fage styles
.loginpage, .registerpage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);

    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: hsl(0, 2%, 88%);
        .videoDiv{
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 70%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;

            video, .footerDiv{
                position: absolute;
            }
            video{
                height: 100%;
                width: 100%;
                object-fit: cover;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .textDiv{
                position: relative;
                .title{
                    color: var(--white-color);
                    font-size: 35px;
                    font-weight: 800;
                }
                p{
                    color: var(--white-color);
                    padding: 1rem ;
                    font-weight: 400;
                    
                }
            }
            .footerDiv{
                bottom: 10px;
                padding: 0 1rem;
                height: 60px;
                background: var(--bg-color);
                left: 10px;
                right: 10px;
                justify-content: space-between;
                backdrop-filter: blur(1px);
                border-radius: 10px;
                .text{
                    color: var(--white-color);
                }
                .btn{
                    background: var(--white-color);
                    color: var(--primary-color);
                    padding: .8rem 1.5rem;
                    border-radius: 10px;
                    font-weight: 400;
                    transition: .3s ease;
                    &:hover{
                        background: var(--hover-color);
                        color: var(--black-color);
                        .icon{
                            color: var(--black-color);
                            transform: translateX(5px);
                        }
                    }
                }
                // .forgotPassword{
                //     font-size: 13px;
                //     color: var(--black-color);
                //     opacity: .7;
                //     text-align: center;

                //     a{
                //         text-decoration: underline;
                //         cursor: pointer;
                //         opacity: 1;
                //     }
                // }
            }
        }
        .formDiv{
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translateY(-1rem);

            .headerDiv{
                text-align: center;
                padding: 1.5rem 0;

                img{
                    width: 60px;
                    padding-bottom: .5rem;
                }
                h3{
                    font-size: 25px;
                    color: var(--black-color);
                    font-weight: 600;
                }
            }
            .form{
                gap: 1rem;

                .inputDiv{
                    .icon{
                        color: var(--grey-text);
                       
                    }
                    input{
                        background: none;
                        outline: none;
                        border: none;
                        width: 120px;
                    }
                    label{
                        color: var(--black-color);
                        font-weight: 400;
                        font-size: 14px;
                        padding: .5rem 0;
                        display: block;
                    }
                    .input{
                        gap : .5rem;
                        padding: 1rem;
                        background: var(--input-color);
                        border-radius: 10px;
                    }
                }
                .btn{
                    padding: .8rem;
                    background: var(--primary-color);
                    border-radius: 10px;
                    color: var(--white-color);
                    align-items: center;
                    margin: auto;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    gap: .5rem;
                    transition: 3s ease;

                    .icon{
                        font-size: 30px;
                        transition: .3s ease;
                    }

                    &:hover{
                        background: var(--hover-color);
                        color: var(--black-color);
                        .icon{
                            color: var(--black-color);
                            transform: translateX(5px);
                        }
                    }
                }
                .forgotPassword{
                    font-size: 13px;
                    color: var(--black-color);
                    opacity: .7;
                    text-align: center;
                    a{
                        color: purple;
                        text-decoration: underline;
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }
    }

}

.dashboard{
    height: 100vh;
    width: 100%;   
    justify-content: center;

    .dashboardcontainer{
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        height: 95vh;
        width: 95%;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 7px 50px rgb(214, 223, 213);  
        .side{
            display: flex;
            width: 10%;
            height: 95vh;
        }
        .content{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 95vh;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 7px 50px rgb(214, 223, 213);
            
        }
    }
}

@media screen and (max-width: 602px){
    .loginpage, .registerpage{
        .container{
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 1.5rem ;
            .videoDiv{
                width: 100%;
                .textDiv{
                    .title{
                        font-size: 20px;
                    }
                    p{
                        padding: 1rem ;
                    }
                }
                .footerDiv{
                    .text{
                        font-size: 12px;
                    }
                    .btn{
                        padding: .4rem 1.5rem;
                        font-size: 12px;
                    }
                }
            }
            .formDiv{
                gap: 1rem;
                transform: translateY(-.5rem);

                .headerDiv{
                    padding: 1rem 0;
                    img{
                        width: 40px;
                    }
                    h3{
                        font-size: 20px;
                    }
                }
                .form{
                    gap: .5rem;
                    .inputDiv{
                        
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 678px){
    .loginpage, .registerpage{
        .container{           
            .videoDiv{
                .textDiv{
                    .title{
                        font-size: 25px;
                    }
                    p{
                        padding: 1rem ;
                    }
                }
                .footerDiv{
                    .text{
                        font-size: 12px;
                    }
                    .btn{
                        padding: .8rem 1.5rem; 
                    }
                }
            }
            .formDiv{

                .headerDiv{
                    padding: 1.5rem 0;
                    h3{
                        font-size: 20px;
                    }
                }
                .form{

                    .inputDiv{
                        
                        input{
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 927px){
    .loginpage, .registerpage{
        .container{           
            width: 85%;
        }
    }
    
}

.AdminPage{
    .dashboard{
        .dashboardcontainer{
            .side{
                width: 20%;
                height: 100%;
                background: var(--bg-color);
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 0 7px 50px rgb(214, 223, 213);
            }
            .content{
                width: 80%;
                height: 100%;
                background: var(--white-color);
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 0 7px 50px rgb(214, 223, 213);
                .body{
                    .container{
                        .top{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .button{
                                background: var(--primary-color);
                                color: var(--white-color);
                                padding: .8rem 1.5rem;
                                border-radius: 10px;
                                font-weight: 400;
                                transition: .3s ease;
                                &:hover{
                                    background: var(--hover-color);
                                    color: var(--black-color);
                                    .icon{
                                        color: var(--black-color);
                                        transform: translateX(5px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}