@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: hsl(94, 55%, 56%);
  --hover-color: hsl(93, 75%, 76%);
  --error-color: hsl(96, 75%, 89%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%,18%);
  --grey-text: hsl(0,0%,75%);
  --bg-color: hsl(113, 11%, 85%);
  --input-color: hsl(330, 12%, 97%) ;
  --pale-green: hsl(154, 14%, 90%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video {
  width: 100%;
  height: auto;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--white-color);
  padding: 10px;
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--grey-text);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: var(--primary-color);
  background: var(--pale-green);
}

.loginpage, .registerpage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginpage .container, .registerpage .container {
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: hsl(0, 2%, 88%);
}
.loginpage .container .videoDiv, .registerpage .container .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginpage .container .videoDiv video, .loginpage .container .videoDiv .footerDiv, .registerpage .container .videoDiv video, .registerpage .container .videoDiv .footerDiv {
  position: absolute;
}
.loginpage .container .videoDiv video, .registerpage .container .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loginpage .container .videoDiv .textDiv, .registerpage .container .videoDiv .textDiv {
  position: relative;
}
.loginpage .container .videoDiv .textDiv .title, .registerpage .container .videoDiv .textDiv .title {
  color: var(--white-color);
  font-size: 35px;
  font-weight: 800;
}
.loginpage .container .videoDiv .textDiv p, .registerpage .container .videoDiv .textDiv p {
  color: var(--white-color);
  padding: 1rem;
  font-weight: 400;
}
.loginpage .container .videoDiv .footerDiv, .registerpage .container .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: var(--bg-color);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.loginpage .container .videoDiv .footerDiv .text, .registerpage .container .videoDiv .footerDiv .text {
  color: var(--white-color);
}
.loginpage .container .videoDiv .footerDiv .btn, .registerpage .container .videoDiv .footerDiv .btn {
  background: var(--white-color);
  color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.loginpage .container .videoDiv .footerDiv .btn:hover, .registerpage .container .videoDiv .footerDiv .btn:hover {
  background: var(--hover-color);
  color: var(--black-color);
}
.loginpage .container .videoDiv .footerDiv .btn:hover .icon, .registerpage .container .videoDiv .footerDiv .btn:hover .icon {
  color: var(--black-color);
  transform: translateX(5px);
}
.loginpage .container .formDiv, .registerpage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginpage .container .formDiv .headerDiv, .registerpage .container .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}
.loginpage .container .formDiv .headerDiv img, .registerpage .container .formDiv .headerDiv img {
  width: 60px;
  padding-bottom: 0.5rem;
}
.loginpage .container .formDiv .headerDiv h3, .registerpage .container .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--black-color);
  font-weight: 600;
}
.loginpage .container .formDiv .form, .registerpage .container .formDiv .form {
  gap: 1rem;
}
.loginpage .container .formDiv .form .inputDiv .icon, .registerpage .container .formDiv .form .inputDiv .icon {
  color: var(--grey-text);
}
.loginpage .container .formDiv .form .inputDiv input, .registerpage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 120px;
}
.loginpage .container .formDiv .form .inputDiv label, .registerpage .container .formDiv .form .inputDiv label {
  color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}
.loginpage .container .formDiv .form .inputDiv .input, .registerpage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--input-color);
  border-radius: 10px;
}
.loginpage .container .formDiv .form .btn, .registerpage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--white-color);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 3s ease;
}
.loginpage .container .formDiv .form .btn .icon, .registerpage .container .formDiv .form .btn .icon {
  font-size: 30px;
  transition: 0.3s ease;
}
.loginpage .container .formDiv .form .btn:hover, .registerpage .container .formDiv .form .btn:hover {
  background: var(--hover-color);
  color: var(--black-color);
}
.loginpage .container .formDiv .form .btn:hover .icon, .registerpage .container .formDiv .form .btn:hover .icon {
  color: var(--black-color);
  transform: translateX(5px);
}
.loginpage .container .formDiv .form .forgotPassword, .registerpage .container .formDiv .form .forgotPassword {
  font-size: 13px;
  color: var(--black-color);
  opacity: 0.7;
  text-align: center;
}
.loginpage .container .formDiv .form .forgotPassword a, .registerpage .container .formDiv .form .forgotPassword a {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.dashboard {
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.dashboard .dashboardcontainer {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.dashboard .dashboardcontainer .side {
  display: flex;
  width: 10%;
  height: 95vh;
}
.dashboard .dashboardcontainer .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 95vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}

@media screen and (max-width: 602px) {
  .loginpage .container, .registerpage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginpage .container .videoDiv, .registerpage .container .videoDiv {
    width: 100%;
  }
  .loginpage .container .videoDiv .textDiv .title, .registerpage .container .videoDiv .textDiv .title {
    font-size: 20px;
  }
  .loginpage .container .videoDiv .textDiv p, .registerpage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginpage .container .videoDiv .footerDiv .text, .registerpage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .loginpage .container .videoDiv .footerDiv .btn, .registerpage .container .videoDiv .footerDiv .btn {
    padding: 0.4rem 1.5rem;
    font-size: 12px;
  }
  .loginpage .container .formDiv, .registerpage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginpage .container .formDiv .headerDiv, .registerpage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginpage .container .formDiv .headerDiv img, .registerpage .container .formDiv .headerDiv img {
    width: 40px;
  }
  .loginpage .container .formDiv .headerDiv h3, .registerpage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginpage .container .formDiv .form, .registerpage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginpage .container .formDiv .form .inputDiv input, .registerpage .container .formDiv .form .inputDiv input {
    width: 100%;
  }
}
@media screen and (max-width: 678px) {
  .loginpage .container .videoDiv .textDiv .title, .registerpage .container .videoDiv .textDiv .title {
    font-size: 25px;
  }
  .loginpage .container .videoDiv .textDiv p, .registerpage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginpage .container .videoDiv .footerDiv .text, .registerpage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .loginpage .container .videoDiv .footerDiv .btn, .registerpage .container .videoDiv .footerDiv .btn {
    padding: 0.8rem 1.5rem;
  }
  .loginpage .container .formDiv .headerDiv, .registerpage .container .formDiv .headerDiv {
    padding: 1.5rem 0;
  }
  .loginpage .container .formDiv .headerDiv h3, .registerpage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginpage .container .formDiv .form .inputDiv input, .registerpage .container .formDiv .form .inputDiv input {
    width: 100%;
    max-width: 200px;
  }
}
@media screen and (max-width: 927px) {
  .loginpage .container, .registerpage .container {
    width: 85%;
  }
}
.adminpage {
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.adminpage .admincontainer {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.adminpage .admincontainer .side {
  display: flex;
  width: 10%;
  height: 95vh;
}
.adminpage .admincontainer .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 95vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.adminpage .admincontainer .content .body {
  width: 100%;
  height: 100%;
}
.adminpage .admincontainer .content .body .headerDiv {
  padding: 1.5rem;
  width: 100%;
  background: #d6eef8;
  box-shadow: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminpage .admincontainer .content .body .headerDiv .title {
  font-size: 30px;
  color: #151e22;
  font-weight: 600;
}
.adminpage .admincontainer .content .body .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.adminpage .admincontainer .content .body .top .adminControll {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 1rem;
}
.adminpage .admincontainer .content .body .top .adminControll .button {
  padding: 10px;
  width: 200px;
  background-color: #d6f0fa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}
.adminpage .admincontainer .content .body .top .adminControll .button:hover {
  background: #41c7fc;
  color: #f0f4f6;
}
.adminpage .admincontainer .content .body .mid {
  display: flex;
}

.list {
  width: 100%;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
.list .searchbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list .searchbar .search .icon {
  color: var(--grey-text);
  cursor: pointer;
  transform: translateX(-100%);
  right: -15px;
  top: 50%;
}
.list .searchbar .search .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--input-color);
  border-radius: 10px;
}
.list .table {
  width: 100%;
}
.list .table caption {
  text-transform: uppercase;
  font-weight: bold;
  color: #fab700;
  text-align: center;
}
.list .table thead {
  border-top: 2px solid #fab700;
  border-bottom: 2px solid #fab700;
}
.list .table thead th {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: #006ac6;
  border: 1px solid #F1F1F1;
}
.list .table tbody tr {
  border-bottom: 1px solid #F1F1F1;
  color: #75787b;
}
.list .table tbody tr td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.list .table tbody tr th {
  padding-left: 10px;
  border: 1px solid #F1F1F1;
}
.list .table tfoot {
  color: #fab700;
  font-style: italic;
  border-bottom: 2px solid #fab700;
}
.list .table tfoot tr td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}

.userpage {
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.userpage .usercontainer {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.userpage .usercontainer .side {
  display: flex;
  width: 10%;
  height: 95vh;
}
.userpage .usercontainer .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}

.historycontent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
  height: 100%;
  width: 100%;
}
.historycontent .leftcontent {
  grid-column: 1;
  border-radius: 5px;
  border-color: #41c7fc;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.historycontent .leftcontent .historytable {
  flex: 1;
}
.historycontent .leftcontent .historytable caption {
  text-transform: uppercase;
  font-weight: bold;
  color: #41c7fc;
  text-align: center;
}
.historycontent .leftcontent .historytable thead {
  border-top: 2px solid #41c7fc;
  border-bottom: 2px solid #41c7fc;
}
.historycontent .leftcontent .historytable thead th {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: #006ac6;
  border: 1px solid #F1F1F1;
}
.historycontent .leftcontent .historytable tbody tr {
  border-bottom: 1px solid #F1F1F1;
  color: #75787b;
}
.historycontent .leftcontent .historytable tbody tr td, .historycontent .leftcontent .historytable tbody tr th {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.historycontent .leftcontent .historytable tfoot {
  color: #41c7fc;
  font-style: italic;
  border-bottom: 2px solid #41c7fc;
}
.historycontent .leftcontent .historytable tfoot td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.historycontent .leftcontent .chartdata {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.historycontent .rightcontent {
  grid-column: 2;
  border-radius: 5px;
  border-color: #41c7fc;
}/*# sourceMappingURL=App.css.map */